.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.login-container {
  width: 900px;
  font-family: "Inter", sans-serif;
  height: 550px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.login-left {
  flex: 1;
  background: url("https://images.unsplash.com/photo-1604537529428-15bcbeecfe4d")
    center/cover no-repeat;
  color: white;
  padding: 40px;
  display: flex;
  align-items: center;
}

.login-left h1 {
  font-size: 28px;
  margin: 20px 0;
}

.login-left p {
  font-size: 14px;
  opacity: 0.9;
}


.login-right {
  flex: 1;
  padding: 40px;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.login-right h2 {
  margin-bottom: 5px;
}

.sub-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.login-right label {
  font-size: 13px;
  font-weight: 500;
}

.login-right input {
  width: 100%;
  padding: 10px;
  margin: 6px 0 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.password-field {
  position: relative;
}

.password-field span {
  position: absolute;
  right: 12px;
  top: 14px;
  cursor: pointer;
  color: #888;
}

.remember {
  display: flex;
  margin-left:-200px;
  gap: 8px;
  font-size: 13px;
  color:#64748B;
  margin-bottom: 15px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 80px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}

.login-btn:hover {
  background: #1b5e20;
}

.signup-link {
  margin-top: 15px;
  font-size: 13px;
}

.signup-link span {
  color: #2e7d32;
  cursor: pointer;
  font-weight: 600;
}