.navbar {
  background: #fffdfd;
  padding: 15px 40px;
  color: white;
  font-family: 'Inter', sans-serif;
 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color:#2E7D32;
  text-decoration: none;
   font-size: 20px;
}
.nav-links {
  display: flex;
  gap:35px
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #000000;
  
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #17ec22;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}
.auth-section a {
  margin-left: 15px;
  text-decoration: none;
  color: #e5e7eb;
}

.logout-btn {
  margin-left: 15px;
  padding: 6px 12px;
  background: #ef4444;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background: #dc2626;
}

.register-btn {
  padding: 6px 12px;
  background: #3b82f6;
  border-radius: 4px;
  color: white;
}
.login-btn {
  background: #2E7D32;
  padding: 6px 12px;
  color:white;
  border-radius: 4px;
}
.profile-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.profile-trigger {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.username {
  font-weight: 500;
  color: #2E7D32;
}

.menu-icon {
  font-size: 14px;
  color: #2E7D32;
}
.profile-dropdown {
  position: absolute;
  top: 35px;
  right: -74px;
  background: rgba(252, 255, 253, 0.479);
  width: 190px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  padding: 10px 0;
  z-index: 100;
}

.profile-dropdown a,
.profile-dropdown button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 14px;;
  text-align: left;
  background: none;
  border: none;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.profile-dropdown a:hover,
.profile-dropdown button:hover {
  background: #f3f4f6;
}
.role-switch-btn{
  background:#2E7D32;
  color:white;
  border:none;
  padding:6px 10px;
  border-radius:6px;
  cursor:pointer;
  font-size:13px;
}
.switch-btn:focus {
  outline: none;
  box-shadow: none;
}