.success-page {
  min-height: 100vh;
  background: #eef2f7;

  /* CENTER FULL CONTAINER */
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 40px 15px;
}

/* MAIN CONTAINER */
.success-container {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;   /* 🔥 IMPORTANT */
  gap: 18px;
}

/* CARD */
.card {
  background: #ffffff;
  border-radius: 18px;
  padding: 18px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  animation: fadeUp 0.5s ease;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
}

/* BUTTON */
.main-btn {
  width: 100%;
  padding: 15px;
  border-radius: 14px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background: linear-gradient(90deg, #0ea5e9, #0284c7);
  box-shadow: 0 4px 18px rgba(14,165,233,0.3);
  transition: 0.25s;
}

.main-btn:hover {
  transform: translateY(-3px);
}

/* ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}